mysql-connector-python
pandas
requests
Django
djangorestframework
django-environ
markdown
django-filter
django_apscheduler
pymysql
robin_stocks
yfinance
yahoo_fin
cryptocompare
pandas
robin-stocks
schedule
mpl_finance
notebook
logger